<h1>Authbox</h1>

<% if current_user %>
  <%= link_to 'Go to applications', oauth_applications_path %>
<% else %>
  <%= link_to 'Sign in', new_user_session_path %>
  <br>
  <%= link_to 'Sign up', new_user_registration_path %>
<% end %>
